<div class="container">
        <div class="row">
            <div class="col">
                <h2>{{$ctrl.compaignName}}</h2>
            </div>
            <div class="col">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Change Campaign
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <div ng-repeat="key in $ctrl.campaign">
                            <a class="dropdown-item" 
                            ui-sref="campaign-stat({name: key.name, id: key.id })">
                                {{key.name}}
                            </a> 
                        
                        </div>
                    </div>
                </div>

                <a ui-sref="campaign-list" class="btn btn-light">
                    All Campaigns
                </a>
            </div>
        </div>

        <div class="row">
            <highchart id="chart1" config="$ctrl.chartConfig"></highchart> 
        </div>
    </div>
 